<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>160950936537-kelm8dkktlstpd8m0mfjvn0768jpk8r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160950936537-kelm8dkktlstpd8m0mfjvn0768jpk8r3</string>
	<key>API_KEY</key>
	<string>AIzaSyCPAIJtrrTQFIKUokYT5pve6RJwsOQp3R0</string>
	<key>GCM_SENDER_ID</key>
	<string>160950936537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.uma.ios.fidelizacion</string>
	<key>PROJECT_ID</key>
	<string>autenticacion-a7665</string>
	<key>STORAGE_BUCKET</key>
	<string>autenticacion-a7665.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:160950936537:ios:2d2efccbaf85b817</string>
	<key>DATABASE_URL</key>
	<string>https://autenticacion-a7665.firebaseio.com</string>
</dict>
</plist>